<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div *ngIf="user.token" class="login-details">
  <div class="col-lg-6 col-md-8 col-sm-12">
    <div class="form-group">
      <label for="email">Id</label>
      <div>{{user.id}}</div>
    </div>
    <div class="form-group">
      <label for="email">Token</label>
      <div>{{user.token}}</div>
    </div>
  </div>
</div>
<div *ngIf="!user.token">
  <form class="col-lg-6 col-md-8 col-sm-12" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" required
             [(ngModel)]="user.email" name="email">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password"
             [(ngModel)]="user.password" name="password">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>


